[Desktop Entry]
Type=Application
Name=ASCENCIO - Duel Simulator
Exec=brave-origin "http://localhost:4300/"
Icon=brave-origin
Terminal=false
Categories=Network;
