[Desktop Entry]
Type=Application
Name=github-repos
Exec=brave-origin "https://github.com/AronGomu?tab=repositories"
Icon=brave-origin
Terminal=false
Categories=Network;
