[Desktop Entry]
Type=Application
Name=github - Essentia
Exec=brave-origin "https://github.com/AronGomu/Essentia"
Icon=brave-origin
Terminal=false
Categories=Network;
