[Desktop Entry]
Type=Application
Name=Google Drive
Exec=brave-origin "https://drive.google.com/drive/my-drive"
Icon=brave-origin
Terminal=false
Categories=Network;
