[Desktop Entry]
Type=Application
Name=Siinergy Portail
Exec=brave-origin "https://monportail.siinergy.net/"
Icon=brave-origin
Terminal=false
Categories=Network;
