[Desktop Entry]
Type=Application
Name=YouTube Studio
Exec=brave-origin "https://studio.youtube.com/"
Icon=brave-origin
Terminal=false
Categories=Network;
