[Desktop Entry]
Type=Application
Name=Essentia
Exec=sh -c "exec nvim \\"\\$HOME/projects/essentia\\""
Icon=nvim
Terminal=true
Categories=Development;
